* {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:focus {
  outline: none;
}
select:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: min(100% - 20px, 1260px);
  margin-inline: auto;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #0078d7;
  color: #fff;
}

.header__container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  min-height: 100vh;
  padding: 60px 20px 0 20px;
}

.about__items {
  background: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
}

.about__item {
  color: #fff;
  font-size: 20px;
}

.about__link {
  color: #fff;
  text-decoration: none;
}

.about__link:hover {
  color: orange;
  transition: all 0.5s;
}

.about__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
