.search__form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search__input {
  padding: 5px 20px;
  font-size: 18px;
  width: 50%;
  transition: all 0.5s;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search__input:hover {
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.search__input:focus {
  outline: none;
}

.btn__search {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn__search:hover {
  background: #0a58ca;
}
