.nav__link {
  color: #fff;
  text-decoration: none;
}

.active__link {
  color: orange;
  border-bottom: 1px solid orange;
}

.nav__item {
  list-style: none;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
